.primary-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--color-black);
    background-color: var(--color-seashell);
    border: solid 3px var(--color-teal);
    box-shadow: 3px 3px var(--color-black);
    text-transform: uppercase;
}

.primary-button:hover {
    background-color: var(--color-mint);
    border: solid 3px var(--color-dark-teal);
}

.primary-button a:hover {
    color: var(--color-black);
}

.secondary-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--color-black);
    text-transform: uppercase;
    background-color: var(--color-seashell);
    border: solid 3px var(--color-dark-orange);
    box-shadow: 3px 3px var(--color-black);
}