.footer {
  left: 0;
  width: 100%;
  margin-top: 2rem;
  background-color: var(--color-dark-orange);
}

.footer a:hover {
  color: var(--color-peach);
}

.footer-social > * {
  padding-right: 1rem;
}

.footer-email,
.footer-navigation__menu-list,
.footer-social {
  padding-top: 1rem;
}

.attributions {
  padding-top: 4rem;
  font-size: 8px;
}
.footer-navigation__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  align-content: flex-start;
  text-decoration: none;
}

.footer-grid {
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .footer-navigation__menu-item {
    padding-right: 2em;
  }

  .footer-navigation__menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
