@import "../settings/colors.css";
@import "../settings/border.css";
@import "../settings/animations.css";
@import url("https://fonts.google.com/specimen/Space+Mono?query=space+mono");

html {
  scroll-behavior: smooth;
  background-color: var(--color-seashell);
}

body {
  font-family: "Space Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-orange);
}

section, .header, .footer{
    padding: 2rem 4rem;
}


@media only screen and (max-width: 900px) {
  section, .header, .footer {
    padding: 2rem 1rem;
  }
}
