:root {
   --color-seashell: #FFF6F3;
   --color-dark-orange: #BD482E;
   --color-orange: #EF6146;
   --color-mint: #72B5A6;
   --color-teal: #12A186;
   --color-dark-teal: #2D4742;
   --color-peach: #FFBCA6;
   --color-red-brown: #5C2216;
   --color-black: #050505;
}